{% extends "base.html" %}
{% block title %} Enter your card ID {% endblock title %}
{% block content %}
<h3>Enter your card id</h3>
<div id="form-input">
    <input id="format-input" class="ui-corner-all" type="text" value=""/>
    <form method="post" id="form-input-form" style="display:none">
        {% csrf_token %}
        {{ form }}
    </form>
</div>
<div id="numeric-keyboard">
    <button value="1">1</button>
    <button value="2">2</button>
    <button value="3">3</button>
    <button value="4">4</button>
    <button value="5">5</button>
    <button value="6">6</button>
    <button value="7">6</button>
    <button value="8">6</button>
    <button value="9">9</button>
    <button class="center" value="0">0</button>
    <div class="void"></div>
    <div class="special">
        <button value="clear">Clear</button>
        <button value="ok">Ok</button>
    </div>
    <script>
        function format_string(str) {
            return str.match(/.{1,4}/g).join('-')
        }
        $(function() {
            $( '#format-input' )
              .button()
              .prop("readonly", true);
            $( "div #numeric-keyboard button" )
              .button()
              .click(function() {
                var val_key = $( this ).prop('value');
                if (val_key.match(/^([0-9])$/)) {
                    var value = $( '#id_card_id' ).val().concat(val_key);
                    if (value.length <= $( '#id_card_id' ).prop('maxlength')) {
                        $( '#format-input' ).val(format_string(value));
                        $( '#id_card_id' ).val(value);
                    }
                }
                else {
                    switch(val_key) {
                        case 'clear':
                            $( '#format-input' ).val('');
                            $( '#id_card_id' ).val('');
                            break;
                        case 'ok':
                            if ($( '#id_card_id' ).val().length >= 16) {
                                $( '#form-input-form' ).submit();
                            }
                            else {
                                alert('Minimal length 16');
                            }
                            break;
                    }
                }

              });
        });

    </script>
</div>
{% endblock content %}